<!DOCTYPE html>
<html>
		<head>
	{{menuAbout}}
			<meta charset="utf-8">
			<title>About page</title>
			<link rel="stylesheet" type="text/css" href="style.css">
		</head>
	<body>
		<div id="me">About me</div>
		<div id="name">I am Viktor Sheverdin</div>
		<div id="info">I am a student of BCIT. I have got a cat and I love animals</div>
		<div id="l_info"><a href="http://localhost:8080/info">This is link to info page</a></div>
		<div id="l_weather"><a href="http://localhost:8080/w">This is link to weather page</a></div>

	</body>
	{{> footer}}
	{{ref1}}
	{{> menuAbout}}
</html>